Server_Name : {{ pgserver_name }}
Date : {{ ansible_date_time.iso8601_micro }}
ENV : {{ env }}
Location : {{ location }}
InstanceType : {{ pgserver_sku_name }}
Version : {{ pgserver_version }}
Password : {{ pgserver_admin_password }}
